.b-r {
    border: thin solid red;
}

.b-o {
    border: thin solid orange;
}

.b-y {
    border: thin solid yellow;
}

.b-g {
    border: thin solid green;
}

.b-с {
    border: thin solid cyan;
}

.b-b {
    border: thin solid blue;
}

.b-i {
    border: thin solid indigo;
}